Options +ExecCGI

AddHandler cgi-script .cgi .pl
DirectoryIndex index.pl

  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.pl/$1 [QSA,L]


ErrorDocument 500 /error.html
ErrorDocument 404 /error.html
